.product-checkout__title {
  color: var(--gray-800, #1f2a37);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
}

.product-checkout__body {
  align-items: start;
  gap: 3.2rem;
  margin: 32px 0 147px 0;
}

.product-checkout__left {
  grid-column: 1 / span 5;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--gray-50, #f9fafb);
}

.product-checkout__right {
  grid-column: 6 / span 3;
  width: 100%;
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 8px;
  background: var(--gray-50, #f9fafb);
  height: auto;
}

.product-checkout__input {
  width: 100%;
}

.product-checkout__text {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.product-checkout__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.product-checkout__receive {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.product-checkout__radio {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 10px;
}

.product-checkout__button {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.product-checkout__fix {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--gray-200, #e5e7eb);
  border: none;
}

.product-checkout__oder {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
  border: none;
  color: var(--white-color);
}

.product-checkout__padding {
  width: 100%;
}
