html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-primary: #1c64f2;

  --white-color: #fff;
  --color-black: #000;
  --color-danger: #ff3a28;
  --color-success: #37c433;
  --color-info: #3fa4fc;

  /* BoxShadow */
  --box-shadow--1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow--2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

body {
  background: var(--gray-100, #f3f4f6) !important;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
    /* //1 rem = 9px, 9/16 = 50% */
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
    /* //1 rem = 8px, 8/16 = 50% */
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
    /* //1rem = 12, 12/16 */
  }
}

.full-width {
  width: 100%;
}

/*Header*/
/*NAVBAR*/

.button {
  font-size: 1.2rem;
  background: var(--color-primary);
  color: var(--white-color);
  border: none;
  transition: all ease 0.2s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.search {
  grid-column: 3 / 7;
  width: 100%;
  max-width: 45.6rem;
}
.input-size {
  transition: width ease 0.5s;
  font-size: 1.6rem !important;
}
.mantine-Input-input {
  font-size: 1.6rem;
}
.logo-user {
  position: relative;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 1.6rem 2rem;
}

.user-name {
  color: var(--gray-800, #1f2a37);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.user-email {
  color: var(--gray-800, #1f2a37);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.seaparator {
  width: 100%;
  height: 1px;
  align-self: stretch;
  background: #eef2f7;
}

.user-info-name {
  margin-top: 10px;
}

.user-logout {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  color: var(--red-500, #f05252);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.user-logout:hover {
  cursor: pointer;
}

.user-order {
  color: var(--gray-800, #1f2a37);
}

.user-info-name {
  color: var(--gray-800, #1f2a37);
}

.user-order:hover {
  cursor: pointer;
  color: #228be6;
}

.user-info-name:hover {
  cursor: pointer;
  color: #228be6;
}

/*Main*/
/*Banner*/

.banner {
  margin-top: 3rem;
  display: flex;
  column-gap: 6rem;
  margin-bottom: 6rem;
}

.sidebar {
  flex: 1 1 30%;
  flex-direction: column;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.05);
}

.sidebar__link {
  font-size: 2rem;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: 100;
}
.sidebar__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}
.sidebar__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  border-radius: 10px;
  background-color: #e5e7eb;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
  z-index: 1;
}
.sidebar__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__item:active::before {
  background-color: #e5e7eb;
}
.sidebar__item:hover .sidebar__link {
  color: #1c64f2 !important;
}

.category-text {
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.carousel {
  flex: 1 1 70%;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 600;
}

/*product*/

.tab-product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
}

.tab-list {
  display: flex;
  flex-direction: row;
}

.tab-text {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-500, #6b7280);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.active {
  width: auto;
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--color-primary);
  color: var(--white-color);
  border: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-800, #1f2a37);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 36px 0 32px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  margin: 32px auto 72px auto;
  border-radius: 8px;
  background: var(--gray-200, #e5e7eb);
  border: none;
}

.more:hover {
  background: var(--gray-200, #d1d2d4);
}

/*FOOTER*/

/*Login*/

.form-group {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 1.6rem;
  gap: 1rem;
}

.form-text {
  display: flex;
  color: var(--gray-900, #111928);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.form-group-forgot {
  color: var(--gray-500, #6b7280);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.form-group-forgot:hover {
  cursor: pointer;
}

.line {
  height: 0px;
  align-self: stretch;
  stroke-width: 1px;
  stroke: var(--gray-300, #d1d5db);
  opacity: 0.5;
  margin-top: -20px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.verification {
  width: 52px;
  height: 52px;
  border-color: #d1d5db;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 8px;
}

.navbar-product {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 36px 0;
}

.text-navbar {
  color: var(--gray-700, #374151);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.text-navbar-active {
  color: var(--gray-500, #6b7280);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.m10 {
  margin: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 103px;
}

.border-color {
  width: 44px;
  height: 44px;
  margin: 12px 10px 16px 0;
  border: 1px solid var(--gray-400, #9ca3af);
}

.border-color-active {
  border: 4px solid var(--blue-400, #76a9fa);
  width: 44px;
  height: 44px;
}

.product-more {
  margin-bottom: 102px;
}

.product-more-text {
  text-align: left;
  margin-bottom: 32px;
  color: var(--gray-800, #1f2a37);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

/*Product Cart*/

.button-plus {
  display: flex;
}

.button-minus {
  display: flex;
}

.button-payment {
  width: 100%;
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
  color: var(--white-color);
  border: none;
}

/*Product Search*/

.productsearch-card {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #e5e7eb);
  width: 924px;
  gap: 20px;
  margin: 34px auto 20px auto;
}

.productsearch-text {
  height: 50px;
  align-self: stretch;
  overflow: hidden;
  color: var(--gray-900, #111928);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.productsearch-content {
  width: 100%;
  margin: 0 20px;
}

.productsearch-info {
  display: flex;
  gap: 10px;
  align-self: stretch;
  margin-top: 70px;
  justify-content: space-between;
}

.productsearch-price {
  display: flex;
  align-items: center;
  color: var(--gray-900, #111928);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.productsearch-img {
  width: 240px;
  height: 160px;
}

.productsearch-text {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 10px;
}

.pagination-center {
  width: max-content;
  margin: 0 auto 103px auto;
}

/*Product Odered*/
.productodered {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

.productodered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.productodered-title {
  color: var(--gray-900, #111928);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.productodered-text {
  color: var(--gray-400, #9ca3af);
  text-align: center;
  width: 275.488px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

/*Info User */
.infouser-content {
  display: flex;
  justify-content: space-between;
}

.infouser-sidebar {
  grid-column: 1/3;
  align-self: flex-start;
}

.infouser-avatar {
  display: flex;
  border-bottom: 1px solid #d1d5db;
  width: 100%;
}

.margin-right {
  margin-left: -30px;
}

.info-user__container {
  height: auto;
  border-radius: 8px;
  background: var(--gray-50, #f9fafb);
  grid-column: 3/9;
  width: 100%;
  margin-bottom: 16rem;
}

.infouser-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #1f2a37;
  text-align: left;
}

.infouser-text {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-500, #6b7280);
  text-align: left;
  padding: 0 0 10px 40px;
}

.infouser-input {
  padding: 10px 40px 10px 40px;
}

.infouser-text-input {
  display: flex;
  margin-bottom: 8px;
  margin-top: -20px;
}

.orderuser-container {
  width: 1100px;
  height: auto;
}

.orderuser-status {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--gray-50, #f9fafb);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.05);
}

.user-oder-list {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

p {
  color: var(--gray-500, #6b7280);
}

.color-red {
  color: #f05252;
}

/*INFO OREDER */
.infoorder-container {
  background-color: transparent;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 1000px;
}

.infoorder-detail {
  align-items: start;
  justify-items: start;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.heading-territory {
  font-size: 3.2rem;
  font-weight: 600;
  color: #1f2a37;
  text-align: left;
}

.oder-id {
  margin-left: 10px;
}

.infoorder-wrapper {
  width: 100%;
  grid-column: 1/-1;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.infoorder-titles {
  display: grid;
  background-color: #e5e7eb;
  width: 100%;
  justify-items: start;
  align-items: start;
  padding: 2rem;
  gap: 3rem;
  color: #737c84;
}

.infoorder-title:first-child {
  grid-column: 1/6;
}

.infoorder-title:nth-child(2) {
  grid-column: 6/7;
}

.infoorder-title:nth-child(3) {
  grid-column: 7/8;
}

.infoorder-title:nth-child(4) {
  grid-column: 8/9;
}

.infoorder-item {
  width: 100%;
  justify-items: start;
  align-items: start;
  padding: 2rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 1fr) [col-end]
  );
}

.infoorder-item-name {
  display: grid;
  grid-column: 1/6;
  font-weight: 500;
  color: #374151;
  text-align: left;
  width: 200px;
}

.infoorder-item-warranty {
  margin-top: 20px;
  display: block;
  color: #28a745;
  font-style: italic;
}

.infoorder-item-quantity {
  color: #374151;
  grid-column: 6/7;
}

.infoorder-item-price {
  grid-column: 7/8;
  color: #374151;
}

.infoorder-item-total-price {
  grid-column: 8/9;
  color: #374151;
}

.info-total-address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -60px;
}

.infoorder-summary {
  padding: 20px;
  width: 300px;
  height: 200px;
  margin-left: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.infoorder-ship-information {
  padding: 20px;
  width: 620px;
  margin-right: 30px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 4/9;
  gap: 0.5rem;
}

.infoorder-text {
  font-size: 1.2rem;
  color: #374151;
  text-align: left;
  margin-top: 12px;
}

/*ChangePass*/
.change-pass-user {
  text-align: left;
  margin-left: 2rem;
}

.change-pass-users {
  color: #1f2a37;
  font-size: 1.6rem;
}

.change-pass-users:hover {
  color: #228be6;
}

.change-pass-content {
  padding: 30px 350px;
}

.pin-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Admin Page*/
.admin-title {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #1f2a37;
  font-size: 1rem;
  margin: 20px 0 20px 10px;
}

.admin-text {
  margin-left: 10px;
}

.admin-text:hover {
  color: #3f83f8;
}

.admin-product {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #1f2a37;
  font-size: 1.4rem;
  margin: 20px 0 20px 10px;
}

.container-footer {
  margin-top: 30px;
}

.container-footer-text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container-footer-name {
  color: #98a6ad;
}

.container-footer-contact {
  margin: 0 10px;
  color: #98a6ad;
}

.container-footer-contact:hover {
  cursor: pointer;
  color: black;
}

.page-title-right {
  float: right;
  width: 350px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  float: left;
  font-size: 30px;
  color: #798189;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.card-content {
  width: 100%;
  height: auto;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 10px 20px;
}

.order-total {
  background-color: var(--white-color);
  border-radius: 10px;
  margin-left: 20px;
  height: 300px;
}

.text-title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 20px;
  margin-top: 5px;
  color: #798189;
  margin-bottom: 15px;
}

.areachart {
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.line-admin {
  margin-top: 20px;
  background-color: #111928;
}

.table-text {
  color: #6c757d;
  font-size: 16px;
}

.text-muted {
  margin-top: 20px;
  color: #98a6ad;
  font-size: 13px;
}

tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.line-admin {
  width: 100%;
}

/* PRODUCT ADMIN*/
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-content {
  background-color: var(--white-color);
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

.button-admin {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.product-datatable-sort {
  display: flex;
  justify-content: space-between;
}

.form-lable {
  display: flex;
  align-items: center;
  color: #6b7280;
  margin-right: 10px;
}

.dataTables-filter {
  text-align: right;
}

.table-centered {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.table-light {
  background-color: #eef2f7;
}

.sorting {
  padding: 20px;
  text-align: left;
  color: #6c757d;
}

.dtr-control {
  text-align: left;
  display: flex;
}

.mb-20 {
  margin-bottom: 20px;
}

.pd-20 {
  padding: 20px;
}

.text-left {
  text-align: left;
}

.bg-success {
  display: block;
  width: 100px;
  text-align: center;
  background-color: #0acf97 !important;
  color: var(--white-color);
  border-radius: 5px;
  padding: 5px;
}

.bg-danger {
  background-color: rgb(21 15 16 / 18%);
  color: var(--white-color);
  border-radius: 5px;
  padding: 5px;
}

.bg-warning {
  background-color: rgba(255, 188, 0, 0.18);
  color: var(--white-color);
  border-radius: 5px;
  padding: 5px;
}

td {
  color: #6b7280;
}

.dataTables-info {
  color: #6b7280;
}

.pagination-product-admin {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/*Modal Add Product*/

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.input-2 {
  display: flex;
  justify-content: space-between;
}

.moreinfo-text {
  color: #228be6;
  margin-left: 20px;
}

.moreinfo-text:hover {
  cursor: pointer;
  opacity: 0.7;
}

.text-label {
  font-weight: 500;
  font-size: 14px;
}

.product-thumbnail {
  margin-top: 5px;
  margin-bottom: 20px;
}

/*Brand Admin*/
.text-hover:hover {
  background-color: #f1f3fa;
}

/*Order admin*/
.order-total-admin {
  width: 300px;
}

.infoorder-footer {
  margin-bottom: 30px;
}

.text-status {
  margin-left: 10px;
}

.mantine-SegmentedControl-label {
  font-size: 1.6rem;
}
.mantine-Checkbox-label {
  font-size: 1.4rem;
}
.mantine-Checkbox-input {
  width: 1.6rem;
  height: 1.6rem;
}
.mantine-Checkbox-labelWrapper {
  display: flex;
  align-items: center;
}
.mantine-Carousel-container {
  height: 12rem;
  overflow: visible;
}
