.product-cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.product-cart__item {
  padding: 1.2rem 0;
  align-items: flex-start;
  gap: 1.2rem 2rem;
  align-self: stretch;
}

.product-cart__item-img {
  grid-column: 1 / 4;
}

.product-cart__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
  grid-column: 4 / 10;
}

.product-cart__name {
  color: var(--gray-700, #374151);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: left;
}

.product-cart--color {
  color: var(--gray-400, #9ca3af);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.product-cart__price {
  color: var(--gray-700, #374151);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-align: left;
  grid-column: 10 / 13;
}
.product-cart__quality {
  grid-column: 13 / 16;
  display: flex;
  gap: 0.8rem;
}
.product-cart__quality--number {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-100, #f3f4f6);
  border-radius: 4px;
  font-size: 1.2rem;
}

.product-cart__delete {
  grid-column: 16 / 17;
  cursor: pointer;
  justify-self: end;
}
