#app {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1.5fr) [app-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [app-end] minmax(6rem, 1.5fr) [full-end];
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: grid;
  grid-column: app-start / app-end;
}

.div-8-col {
  display: grid;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 1fr) [col-end]
  );
  align-items: center;
  justify-items: center;
}

.div-16-col {
  display: grid;
  grid-template-columns: repeat(
    16,
    [col-start] minmax(min-content, 1fr) [col-end]
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
